@import "../includes/variables"
@import "../includes/mixin"

#left
  width: 100px
  position: fixed
  overflow-x: hidden
  height: 100%
  //background-image: url("http://api.thumbr.it/whitenoise-361x370.png?background=2c2e2cff&noise=626262&density=25&opacity=28")
  background-color: $black
  .logo-main
    height: 50px
    width: 100%
    background-color: $blue

  ul
    padding: 0
    margin: 0
    li
      padding: 15px 10px 15px 10px
      box-shadow: -2px 2px 7px -1px rgba(128,128,128,0.21)
      &.i-nav:hover
        .li-icon > .icon > *
          fill: white
      &.selected
        background-color: $grey_background
      &.selected
        background-color: $grey_background
        border-left: 5px solid $green
    li>*>img
      height: $li_metric
      width: $li_metric
      border: 2px solid $black
      z-index: 2
      &:hover
        border: 2px solid $grey_header
        transition: $ani_t_time ease-in-out
        transition-property: border
    .user
      display: inline-flex
      align-content: center
      .info
        background-color: $green
        color: $white
        margin-left: -3px
        margin-top: auto
        margin-bottom: auto
        height: $info_metric
        width: $info_metric
        vertical-align: middle
        z-index: 1
        span
          font-size: small
          text-align: right
          margin: 5px

.i-nav
  height: $li_metric
  width: $li_metric
  margin: auto
  background-color: grey
  &:hover:not([class^=is-active])
    background-color: $blue
    transition: $ani_t_time ease-in-out
    transition-property: background-color

.i-nav.is-active
  margin: auto
  background-color: $blue
  border: none
  .li-icon > *
    fill: white

.li-icon
  padding: 12px 0 0 12px
  .icon > *
    fill: lightgrey


.i-nav
  border: 2px solid $black

.nav-tab-m > * > .info
  z-index: -1
  height: $info_metric
  width: $info_metric
  margin: auto auto auto 5px
  background: transparent
  border: 2px solid grey
  & > *
    fill: grey

.i-nav:hover
  .li-icon
    .icon > *
        fill: white

.nav-tab-m:hover
  .i-nav:hover
    .info:hover
      background-color: red

+medium
  #left
    margin-left: -100px
    &.show
      margin-left: 0
      transition: $ani_t_time ease-in-out
      transition-property: all