@import "../includes/variables"
@import "../includes/mixin"

#right
  margin-left: 100px

.search-heading
  height: 50px
  background-color: $grey_header
  .search-result
    margin-top: auto
    padding-top: 12px
    padding-left: $padding_r_left
    padding-right: $padding_r_left
    strong
      font-weight: 500
    mark
      color: grey
      background-color: transparent

.search-container
  padding: 20px $padding_r_left 20px $padding_r_left
  form
    border-radius: $rad
    background-color: $white
    &.focus
      box-shadow: $grey_header 0 0 1px 2px
      transition: box-shadow $ani_t_time
    .search-box
      display: flex
      #i-search
        fill: $grey_header
        margin: 13px
        height: 25px
        width: 25px
        vertical-align: sub
      input
        border-radius: $rad
        width: 100%
        height: 50px
        font-size: 1.5rem
        color: grey
        border: none
        &:focus
          outline: none
      ::placeholder
        color: $grey_background

.search-opt-container
  ul.selector
    display: flex
    flex-direction: row
    list-style-type: none
    align-content: stretch
    margin-top: -5px
    padding-left: $padding_r_left
    li
      margin-right: 20px
      label
        margin-left: 5px

.result-container
  background-color: $white
  margin: $padding_r_left + $padding_r_left $padding_r_left
  box-shadow: $grey_header 0 0 1px 2px

ul.results
  margin-left: 1.5%
  li.result
    margin-top: -1px
    width: 100%
    &:hover:not(:last-child)
      background-color: lighten($grey_background, 3)
      transition: $ani_t_time ease-in-out
      transition-property: background-color
    &:not(:nth-last-child(2)):not(:last-child)
      border-bottom: 2px solid $grey_header
    .container
      width: 100%
      padding-top: 5%
      padding-bottom: 5%
      border-left: 4px solid $grey_header
      margin-left: 0
      .icon-date
        margin-left: -19px
        display: inline-flex
        flex-direction: column
        .icon
          background-color: $blue
          height: $icon_metric
          width: $icon_metric
          margin-bottom: 20px
          & > *
            fill: $white
            padding-top: 5px
            padding-left: 5px
        .date
          margin-left: -13px
          width: 65px
          text-transform: uppercase
          text-align: center

u.by
  color: grey
  font-weight: 500

p.sub
  width: 95%
  overflow-wrap: break-word

.container
  .tab-content
    margin-left: 4%
    width: 100%
    .content
      width: 100%
      padding-left: 1.5%
      p.sub > u:hover
        color: $blue
        font-weight: 400
        cursor: pointer

.container
  .tab-content
    .images-grid
      display: inline-flex
      padding: .5%
      flex-direction: column
      &:hover
        border-radius: $rad
        background-color: $grey_background
        box-shadow: $grey_background 0 0 1px 2px
        transition: box-shadow,background-color $ani_t_time ease-in-out
      &:not(:last-child)
        margin-right: 3%
      .image-holder
        box-shadow: $grey_header 0 0 1px 2px
        height: 200px
        width: auto
        background: no-repeat center
        background-size: cover

.container
  .tab-content
    .user-img
      width: 8%
      display: inline-flex
      flex-direction: column
    .content
      margin-left: 5px

.container
  .tab-content
    .discussions
      .discussion
        &:not(:first-child)
          margin-top: 6% !important
        .content
          width: 95%
          overflow-wrap: break-word

.result.show-more
  .container
    text-align: center
    margin-top: -7%
    padding-bottom: 2%!important
    &:hover
      background-color: transparent
    button
      border-radius: $rad
      padding: .5% 35%
      border: none
      background-color: $grey_background
      text-transform: uppercase
      font-weight: bold
      cursor: pointer
      outline: none
      &:hover
        background-color: $grey_header
        border: none
        box-shadow: $grey_background 0 0 1px 2px
        transition: box-shadow,background-color $ani_t_time ease-in-out

a.download
  text-decoration: underline
  font-weight: bold
  text-transform: uppercase
  color: $blue

span.tag
  font-weight: 400
  font-size: small
  margin-left: 8px
  border: 1px solid darkgray
  padding: 0 6px
  &:hover
    background: $green
    color: $white
    cursor: pointer

.tagged
  display: inline-flex
  flex-direction: column
  .item
    border-radius: $rad
    background: lighten($black, 29)
    display: inline-flex
    flex-direction: row
    span
      padding: 0 5px
      color: white
    .close
      color: white
      font-weight: bold
      padding-right: 5px
      &:hover
        color: red
        cursor: pointer

@import "medium.search"