doctype html
html
    head
        title My Site
        block styles
        link(rel='stylesheet', href='style.css')
        //style
        //    include ../../../dest/style.css

    body
        block content
        block scripts