div
    .search-heading
        p.search-result
            strong 35 Search results
            mark  for "Preview"

    .search-container
        form#search-form(aria-label='search')
            div#search-box.search-box
                span
                    include ../../../assets/icons/search.svg
                input#search(placeholder='Search')
    .search-opt-container
        ul.remove-style.selector
            - var selectors = ["Todos", "Discussions", "Files", "Progress", "Team Members"];
                each item in selectors
                    li
                        input.checkbox(type="checkbox" value=item name=item)
                        label= item

    .result-container
