extends layout/_layout

block content
    section#container-main
        section#left
            include ./includes/left-nav
        section#right
            include ./includes/search

block scripts
    script(src='/build.js')
