extends layout/_layout

block content
    section
        include ./includes/header.pug
    section
        section#left
            include ./includes/left-nav
        section#right
            include ./includes/search